html,body,.layout {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	position: relative;
}

.content-menu {
	color: white;
	background-color: #263238;
	z-index: 10;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 20;
	transition: left .4s linear;
}

.layout {
	.container-fluid,
	.row,
	.left-panel,
	.right-panel {
		height: 100%;
	}
}