.left-panel {
  position: relative;
  .button-menu {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    background-color: #000;
    padding: 4px;
    cursor: pointer;
    .icon {
      font-size: 24px;
      color: @text-color-secondary;
      line-height: 24px;
    }
    &:hover .icon {
      color: @text-color-primary;
    }
  }

  section {
    background-image: url(../images/background.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: -71px;
      
      .text {
      position: absolute;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 401px;
      color: @text-color-primary;
        }

hr {
  width: 75%;
  margin: 20px 0px; 
}

  }
 
}