.left-panel {
    position: relative;
    .menu-button {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 32px;
        height: 32px;
        background-color: gray;
    }
}